.section-features {
    position: relative;

    &__before-header {
        margin-top: 10.7rem;
    }

    &__header {
        text-align: center;

        @include respond(phone) {
            h2 {
                text-align: center;
            }
        }
    }

    &__profits {
        display: flex;
        column-gap: 9rem;
        margin: 2rem 6rem;

        @include respond(small-desktop) {
            column-gap: 3rem;
        }

        @include respond(phone) {
            flex-flow: column;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__profit {
        display: flex;
        flex-flow: column;
        align-items: center;
        row-gap: 2.2rem;
        margin-bottom: 10.7rem;

        @include respond(phone) {
            flex-flow: row;
            column-gap: 2.2rem;
            justify-content: space-around;
        }

        p {
            font-size: 1.6rem;

            @include respond(phone) {
                text-align: left;
                font-size: 2rem;
                width: 70%;
                margin-bottom: 0;
            }
        }

        &--1 {
            img {
                width: 80%;

                @include respond(phone) {
                    width: 100%;
                }
            }
        }
    }

    &__img-box {
        height: 20rem;
        width: 20rem;
        margin-bottom: 4rem;

        @include respond(phone) {
            display: none;
        }

        img {
            max-height: 26rem;
        }

        &--mobile {
            display: none;

            @include respond(phone) {
                display: flex;
                min-width: 7rem;
                width: 22%;
            }
        }
    }

    span {
        display: block;
        margin-top: 5.6rem;
    }

    .decoration1 {
        z-index: -1;
        width: 70rem;
        left: 24rem;
        top: -16rem;

        @include respond(phone) {
            display: none;
        }
    }

    .decoration2 {
        z-index: -1;
        top: 10rem;
        width: 30rem;
        right: 30rem;

        @include respond(phone) {
            top: -7rem;
            right: 30rem;
        }

        @include respond(medium-phone) {
            top: -7rem;
            right: 10rem;
        }
    }
}

.section-process {
    &__steps {
        display: flex;

        @include respond(phone) {
            display: none;
        }
    }
}

.section-started {
    &__inner {
        position: relative;
        border-radius: 40px;
        background-image: linear-gradient(#ffebe6, #f8e8c4);
        min-height: 82.8rem;
        height: 100%;

        @media screen and (max-width: 1400px) {
            .decoration3 {
                display: none;
            }

            .decoration4 {
                display: none;
            }
        }

        @include respond(phone) {
            min-height: 1px;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    @include respond(phone) {
        min-height: auto;
        border-radius: 0;
    }

    &__header {
        padding-top: 5rem;
        text-align: center;
        position: relative;
        width: fit-content;
        margin: 0 auto;


        img {
            top: 50%;
            left: -10%;
        }

        @include respond(phone) {
            text-align: center;

            h2 {
                font-size: 37px;
            }
        }
    }

    &__txt {
        max-width: 82rem;
        margin: 0 auto;
        padding-top: 17rem;
        z-index: 1;
        display: flex;
        justify-content: space-between;

        .col {
            width: calc(50% - 25px);

            @include respond(phone) {
                width: 100%;

                &--2 {
                    display: none;
                }
            }
        }

        @include respond(phone) {
            padding: 4rem 0 4rem;
        }

        p {
            font-size: 1.8rem;
            font-weight: 400;
        }
    }

    .decoration3 {
        bottom: 6rem;
        left: 10rem;
        z-index: 0;
        max-width: 21.7rem;
        width: 100%;

        @include respond(phone) {
            position: inherit !important;
            bottom: auto;
            left: auto;
            margin: 0 auto;
            text-align: center;
            display: block;
        }
    }

    .decoration4 {
        right: 10rem;
        bottom: 9rem;
        z-index: 0;
        max-width: 20rem;
        width: 100%;

        @include respond(phone) {
            display: none;
        }
    }

    .decoration5 {
        z-index: 0;
        max-width: 22.7rem;
        width: 100%;

        @include respond(phone) {
            display: none;
        }
    }

    h2 {
        max-width: 770px;
    }
}

.delivery {
    &__form {
        margin-right: 120px;

        @media screen and (max-width: 1024px) {
            margin-right: 0;
        }

        .container {
            overflow: visible;
        }
    }


}

.section-delivery {
    justify-content: space-between;
    position: relative;
    min-height: 60rem;
    align-items: center;
    display: flex;

    @media screen and (max-width: 1450px) {
        flex-direction: column;
        padding-bottom: 130px !important;
    }

    @include respond(phone) {
        flex-flow: column;
        text-align: center;
    }

    &__box {
        flex-shrink: 0;

        @media screen and (max-width: 1024px) {
            margin-right: auto;
        }


        h2 {
            font-size: 88px;
            margin-right: 100px;

            @media screen and (max-width: 1450px) {
                font-size: 62px;
                margin-right: 0;
            }

            @media screen and (max-width: 766px) {
                text-align: left;
                font-size: 37px;
            }

        }

        @include respond(phone) {
            width: 100%;
        }
    }

    &__subheader {
        p {
            font-size: 1.8rem;
            max-width: 50rem;

            @media screen and (max-width: 766px) {
                text-align: left;
            }

        }
    }

    .submit-button-v2 {
        button {
            font-size: 2.4rem;
            font-weight: 600;
            background-color: $gold;
            border-radius: 35px;
            color: $header;
            padding: 1.8rem 4.6rem;
            z-index: 99;
            transition: all 0.25s ease-in-out;

            &:hover {
                background-color: #F2B746;
            }
        }
    }

    .delivery__form-inputs {
        display: flex;
        column-gap: 4rem;
        align-items: stretch;
        padding-bottom: 25px;

        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }

        input {
            border: 1px solid $header;
            border-radius: 45px;
            min-width: 0;
            min-height: 5rem;
            font-size: 2.4rem;
            padding: 0.5rem 2rem;

            @include respond(phone) {
                min-height: 4.5rem;
            }
        }

        ::placeholder {
            color: #d1d1d1;
            margin-left: 1rem;
            font-size: 2.4rem;
            position: relative;

            @include respond(phone) {
                margin: 0 auto;
            }
        }

        label {
            font-size: 1.6rem;
            font-weight: 500;
            color: #58232b;
            margin-left: 2rem;
            color: $header;

            @media screen and (max-width: 1024px) {
                text-align: center;
            }

        }

        .delivery__inner {
            display: flex;
            flex-flow: column;
            align-self: center;
            position: relative;
            max-width: 200px;

            @media screen and (max-width: 1024px) {
                margin-bottom: 24px;
            }

            .inputError {
                display: none !important;
            }

            &.error {
                input {
                    color: #CB0422;
                    border-color: #CB0422;
                }

                .inputError {
                    color: #CB0422;
                    font-size: 14px;
                    font-weight: 600;
                    display: block !important;

                    &:before {
                        content: '';
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12.629' height='12.629' viewBox='0 0 12.629 12.629'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_407' data-name='Rectangle 407' width='12.629' height='12.629' transform='translate(0 0)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_550' data-name='Group 550' transform='translate(0 0)'%3E%3Cg id='Group_549' data-name='Group 549' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_621' data-name='Path 621' d='M12.629,6.314A6.314,6.314,0,1,1,6.315,0a6.314,6.314,0,0,1,6.314,6.314' fill='%23cb0422'/%3E%3Cpath id='Path_622' data-name='Path 622' d='M6.314,8.805h0a.586.586,0,0,1-.583-.525L5.17,2.944a1.144,1.144,0,1,1,2.288,0L6.9,8.28a.587.587,0,0,1-.584.525' fill='%23fff'/%3E%3Cpath id='Path_623' data-name='Path 623' d='M7.052,10.092a.738.738,0,1,1-.738-.738.738.738,0,0,1,.738.738' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                        width: 13px;
                        height: 13px;
                        display: inline-block;
                        position: relative;
                        top: 1px;
                        margin-right: 4px;
                    }
                }
            }
        }
    }

    .submit-button {
        display: flex;
        align-items: flex-end;
        position: relative;

        @media screen and (max-width: 1024px) {
            justify-content: center;
            margin-top: 130px;
        }

        &__row {
            display: flex;
        }
    }

    .inputError {
        position: absolute;
        top: 100%;
        left: 14px;
    }
}

.submit-button-v2 {}



.decorationP2 {
    top: -40px;
    right: -40px;
    transition: all 1s;
}

.decorationP3 {
    top: 31rem;
    right: 0rem;
    transition: all 1s;
    top: 50px;
    right: -73px;
}

.decorationP1 {
    top: -170px;
    right: -160px;
    z-index: -1;
    max-width: 56rem;

    @media screen and (max-width: 1024px) {
        right: -106px;
    }
}

.submit-button-v2 {
    .submit-button__row:hover {
        .decorationP2 {
            top: -10rem;
            right: 12rem;
        }

        .decorationP3 {
            top: 10rem;
            right: -9rem;
        }
    }
}