.border-button {
    border-radius: 35px;
    display: block;
    text-align: center;

    @include respond(tab-land) {
        padding: 1rem;
    }

    &--white {
        border: 1px solid #fff;
        font-size: 2.2rem;
    }

    &--gold {
        border: 1px solid $header;

        &:hover {
            border: 1px solid $gold;
        }
    }

    &--brown {
        border: 1px solid $header;
        font-size: 2.2rem;
    }

    &--solid {
        background-color: $gold;
        border: 1px solid $gold;
        font-size: 2.2rem;
    }
}

.fill-button,
.fill-button--brown,
.fill-button--brown-trans {
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease-out;
    will-change: transform;
    background-color: transparent;
    color: $header;

    &::after {
        border-radius: 35px;
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: top left;
        transition: 0.2s transform ease-out;
        z-index: -1;
    }

    &:hover {
        background-color: transparent;
        will-change: transform;
        border: 1px solid $header;
    }
}

.fill-button {
    &::after {
        background-color: $gold;
        transform: translate(-100%, 0);
    }

    &:hover {
        color: $header;
    }

    &:hover::after {
        transform: translate(0, 0);
    }
}

.fill-button--brown {
    &::after {
        background-color: $header;
        transform: translate(-100%, 0);
    }

    &:hover {
        color: $white;
    }

    &:hover::after {
        transform: translate(0, 0);
    }
}

.fill-button--brown-trans {
    &::after {
        background-color: $header;
        transform: translate(-100%, 0);
    }

    &:hover {
        color: $white;
        border: 1px solid $gold;
    }

    &:active {
        background-color: $header;
    }

    &:hover::after {
        transform: translate(2%, 3%);
    }
}