.container {
    overflow: hidden;
}

.filterDiv {
    display: none;
}

.prices-filter {
    .filterDiv {
        border-radius: 40px;
        background-image: linear-gradient(#ffebe6, #f8e8c4);
        min-height: 44.9rem;
        @include respond(phone) {
            background-image: none;
            background-color: #ebf4f7;
            border-radius: 0;
        }
    }
}


/* The "show" class is added to the filtered elements */

.show {
    display: block;
}


/* Style the buttons */

.diet-box {
    cursor: pointer;
    @include respond(phone) {
        flex-flow: column;
    }
    .diet-controls {
        display: flex;
    }
}

.signle-diet__title {
    text-align: center;
    padding-top: 5rem;
}

.kcal {
    display: flex;
    justify-content: space-evenly;
    @include respond(phone) {
        flex-flow: column;
        padding-bottom: 4rem;
    }
    &-part {
        &--1 {
            font-size: 3rem;
            font-weight: 400;
            text-align: center;
            color: $header;
            @include respond(phone) {
                margin: 0 auto;
                font-weight: 600;
                padding: 3rem 0 1rem 0;
            }
        }
        &--2 {
            color: $white;
            font-size: 3.4rem;
            font-weight: 600;
            background-color: $gold;
            padding: 0 7.5rem;
            border-radius: 34px;
            @include respond(phone) {
                background-image: radial-gradient(#e87641, #ba4a16);
                padding: 0 6rem;
                margin: 0 auto;
                text-align: center;
                width: fit-content;
            }
        }
    }
}