.section-contact {

    &__header,
    &__subheader {
        text-align: center;
    }

    &__header {
        margin-top: 8.5rem;
        margin-bottom: 4.5rem;
    }

    &__subheader {
        p {
            font-size: 2.4rem;
        }
    }

    &__form {
        position: relative;
        margin-bottom: 15rem;

        @include respond(phone) {
            margin-bottom: 0;
        }

        p {
            font-size: 2.5rem;

            @include respond(phone) {
                text-align: center;
                margin: 0 auto;
                font-weight: 500;
                margin-bottom: 30px;
                max-width: 300px;
            }
        }

        form {
            margin-left: 5rem;

            @include respond(phone) {
                margin-left: 0;
            }

            input[type="text"],
            input[type="email"],
            input[type="tel"],
            textarea {
                background-color: white;
                border-radius: 5px;
                border: 1px solid #58232b;
                max-width: 100%;
                height: 46px;
                font-size: 18px;

                @include respond(phone) {
                    max-width: inherit;
                }
            }

            textarea {
                min-height: 150px;
            }

            input[type="submit"] {
                background-color: $gold;
                font-size: 2.4rem;
                color: $header;
                padding: 1.5rem 6.8rem;
                border-radius: 35px;

                &:hover {
                    background-color: #F2B746;
                }
            }

            input[type=checkbox] {
                border-radius: 5px;
            }

            .input-checkbox {
                margin-top: 18px;
                position: relative;
                z-index: 2;

                .wpcf7-list-item {
                    margin-left: 0;
                }

                .wpcf7-list-item-label {
                    margin-left: 20px;
                    color: #583337;
                }

                label {
                    display: flex;

                    input {
                        width: 20px;
                        height: 20px;
                        margin-top: 0;
                    }
                }

            }

            label {
                font-size: 13px;
                font-weight: 500;
                padding-bottom: 0.5rem;
                margin-bottom: 4px;


                span {
                    margin-top: 0;
                }
            }

            p {
                margin-bottom: 0 !important;

                @include respond(phone) {
                    text-align: left;
                    font-size: 1.8rem;
                }

                .wpcf7-list-item {
                    margin: 0 0 0 0 !important;
                }

                .wpcf7-list-item-label {
                    margin-left: 3rem;
                    font-weight: 400;
                }
            }

            .decorationC4 {
                z-index: -1;

                @include respond(big-desktop) {
                    left: -58%;
                    min-width: 46rem;
                }

                @include respond(hd-desktop) {
                    bottom: -152%;
                    left: -49%;
                    z-index: -1;
                }

                bottom: -191%;
                z-index: 0;
                left: -47%;
                max-width: 42rem;

                @include respond(small-desktop) {
                    left: 0;
                    bottom: -127%;
                    max-width: 52rem;
                }

                @include respond(tab-land) {
                    left: -20px;
                }

                @include respond(tab-port) {
                    left: -20px;
                }
            }

            .submit-button-vContact {
                position: relative;
                min-height: 10rem;

                @include respond(phone) {
                    display: block;
                    text-align: center;
                }

                .decorationC5 {
                    bottom: 6rem;
                    left: 10rem;
                    z-index: 3;
                    transition: all 1s;

                    @include respond(small-desktop) {
                        max-width: 11rem;
                        left: 27rem;
                    }
                }

                .decorationC6 {
                    bottom: -3rem;
                    left: 19rem;
                    transition: all 1s;

                    @include respond(small-desktop) {
                        max-width: 13rem;
                        left: 33rem;
                    }
                }

                .submit-button__row {
                    position: absolute;
                    top: -20%;
                    left: -13%;
                    margin-top: 14rem;

                    @include respond(small-desktop) {
                        top: 0;
                        position: static;
                        text-align: center;
                        margin-top: 20rem;
                    }

                    input {
                        margin-top: 3rem;
                        position: relative;
                        z-index: 99;
                    }
                }

                &:hover {
                    .decorationC5 {
                        bottom: 9rem;
                        left: -3rem;

                        @include respond(small-desktop) {
                            left: 12rem;
                        }
                    }

                    .decorationC6 {
                        bottom: -4rem;
                        left: 25rem;

                        @include respond(small-desktop) {
                            left: 38rem;
                            bottom: -8rem;
                        }
                    }
                }
            }
        }
    }

    &__data {
        display: flex;
        width: 100%;
        justify-content: center;
        column-gap: 20%;
        padding-bottom: 10rem;

        @include respond(phone) {
            flex-flow: column;
            column-gap: 0;
            padding-bottom: 20rem;
        }

        &--box1 {
            width: 30%;

            @include respond(phone) {
                width: 100%;
                padding-bottom: 70px;
            }
        }

        &--box2 {
            width: 40%;

            @include respond(phone) {
                width: 100%;
            }
        }

        &-tel {
            position: relative;

            @include respond(phone) {
                margin: 0 8rem;
            }

            p {
                font-size: 3rem;
                margin-bottom: 0 !important;
                padding-top: 4rem;
                font-weight: 600;
                position: relative;

                @include respond(phone) {
                    font-size: 17px;
                }

                span {
                    display: block;
                    font-size: 2.6rem;
                }
            }

            a {
                font-size: 52px;
                font-family: 'FreightBig Pro', serif;
                display: block;
                font-weight: 900;
                line-height: 1.2;

                @include respond(phone) {
                    font-size: 25px;
                }
            }

            .decorationTel1,
            .decorationTel2 {
                bottom: -8rem;
                left: 19rem;
                max-width: 11rem;

                @include respond(tab-port) {
                    max-width: 8rem;
                    bottom: -3rem;
                }
            }

            &--1 {
                border-bottom: 1px solid $header;
                padding-bottom: 2rem;
            }
        }
    }

    &__inner-wrap {
        padding-top: 4rem;
        color: $header;
        font-weight: 500;
        font-size: 26px;

        @include respond(phone) {
            font-size: 13px;
        }
    }

    .decorationCT {
        @include respond(big-desktop) {
            right: -20%;
            top: 26%;
        }

        @include respond(hd-desktop) {
            right: -8%;
            top: 16%;
        }

        z-index: -2;
        top: 30%;
        right: -19%;
        min-width: 90rem;
        width: 100%;

        @include respond(small-desktop) {
            min-width: 80rem;
            right: -40%;
            top: 27%;
        }

        @include respond(phone) {
            min-width: 160rem;
            right: -112%;
            top: -13%;
        }
    }

    .decorationCTM {
        display: none;

        @include respond(phone) {
            display: block;
            z-index: -1;
            top: 2rem;
        }
    }
}

.sub-mobile {
    display: none !important;

    @include respond(phone) {
        display: block !important;
        text-align: center;
        width: 100%;

        a,
        input[type="submit"] {
            background-image: radial-gradient(#e87641, #ba4a16);
            color: $white !important;
            font-size: 2.4rem;
            padding: 1rem 6rem;
            border-radius: 35px;
            font-weight: 600;
            text-align: center;
            margin: 0 auto;
            text-align: center;

            @include respond(phone) {
                width: 100%;
            }
        }
    }
}